# .env.example
# Configuración del servidor
PORT=
NODE_ENV=

# Configuración de PostgreSQL
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Configuración de Redis
REDIS_HOST=
REDIS_PORT=

# Configuración de JWT
JWT_SECRET=
JWT_EXPIRES_IN=